/*
Back-end editor styles
*/

/* Gutenberg color classes */

.has-red-background-color {
    background-color: #eb3211;
}
.has-red-color {
    background-color: #eb3211;
}
.has-grey-background-color {
    background-color: #63656a;
}
.has-grey-color {
    color: #63656a;
}
.has-darkish-blue-background-color {
    background-color: #003c7f;
}
.has-darkish-blue-color {
    color: #003c7f;
}
.has-cerise-background-color {
    background-color: #cf3555;
}
.has-cerise-color {
    color: #cf3555;
}
.has-azure-background-color {
    background-color: #00aef3;
}
.has-azure-color {
    color: #00aef3;
}
.has-black-background-color {
    background-color: #000000;
}
.has-black-color {
    color: #000000;
}
.has-navy-background-color {
    background-color: #021f37;
}
.has-navy-color {
    color: #021f37;
}
.has-cerulean-background-color {
    background-color: #0071cf;
}
.has-cerulean-color {
    color: #0071cf;
}